*.bak
*.bck
*.dcm
sym-lib-table
*bak
*.xml
fp-lib-table
_saved_*

bom/
Exports/
Simulation/*.raw
Simulation/*.log
Simulation/*.plt
Simulation/*.fft
Simulation/*.net

Measurements/
Datasheets
Preamp/Gerbers/
*.zip
